{{> navbar}}
{{> header}}
{{> messages}}
<main>
    <div class="container">
        <div>
            <h1>Shopping Cart</h1>
            {{#if cartItems}}
            <div class="container">
                <div class="row">
                    <div class="d-flex flex-row-reverse p-2">
                        <p><strong>Total: ₹</strong> {{total cartItems}}</p>
                    </div>
                </div>
            </div>
            <table class="table table-dark table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col">Qty</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tr>
                    {{#each cartItems}}
                    <td>{{this.qty}}</td>
                    <td>{{this.product.title}}</td>
                    <td>{{this.product.price}}</td>
                    <td>{{multiply this.product.price this.qty}}</td>
                    <td>
                        <button type="button" class="bi bi-plus btn btn-success" style="display: inline-flex;"
                            onclick="addOne_clicked(event, '{{this.product._id}}'), navigateTo(event, '/cart')">
                            <svg xmlns="http://www.w3.org/2000/svg" style="text-align:center" id="plus" width="16"
                                height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path
                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>
                        </button>
                        <button type="button" class="bi bi-dash btn btn-secondary" style="display: inline-flex;"
                            onclick="removeOneItems_clicked(event, '{{this.product._id}}'), navigateTo(event, '/cart')">
                            <svg xmlns="http://www.w3.org/2000/svg" style="text-align:center" id="dash" width="16"
                                height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                            </svg>
                        </button>
                        <button type="button" class="bi bi-trash btn btn-danger" style="display: inline-flex;"
                            onclick="removeAllItems_clicked(event, '{{this.product._id}}'), navigateTo(event, '/cart')">
                            <svg xmlns="http://www.w3.org/2000/svg" style="text-align:center" id="trash" width="16"
                                height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 
                                    .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 
                                    .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 
                                    1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 
                                    1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 
                                    1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </button>
                    </td>
                </tr>
                {{/each}}
            </table>
            <p><strong>Subtotal: ₹</strong> {{subtotal cartItems}}</p>
            <p><strong>Tax: ₹</strong> {{tax cartItems}}</p>
            <p><strong>Total: ₹</strong> {{total cartItems}}</p>
            <div class="d-flex flex-row-reverse p-2">
                <a class="btn btn-primary" onclick="navigateTo(event, '/purchase')">Purchase</a>
            </div>
            {{else}}
            <div>No product items in the shopping cart yet</div>{{/if}}
        </div>
    </div>
</main>

<script>
    function removeOneItems_clicked(event, pid) {
        event.preventDefault();
        Model.removeItem(pid, false).done(function () {
            navigateTo(event, event.target.href);
        }).fail(function (error) {
            console.error('REMOVEONE ERROR ',
                error.status,
                error.statusText);
        });
    };

    function removeAllItems_clicked(event, pid) {
        event.preventDefault();
        Model.removeItem(pid, true).done(function () {
            navigateTo(event, event.target.href);
        }).fail(function (error) {
            console.error('REMOVEALL ERROR ',
                error.status,
                error.statusText);
        });
    };

    function addOne_clicked(event, pid) {
        event.preventDefault();
        Model.addItem(pid).done(function () {
            navigateTo(event, event.target.href);
        }).fail(function (error) {
            console.error('ADDITEM ERROR ',
                error.status,
                error.statusText);
        });
    };
</script>
{{> footer}}